/**
 * Fizzy 2.0 Stylesheet
 *
 * Scheme: http://colorschemedesigner.com/#3D11TpE--l2br
 * Scheme: http://colorschemedesigner.com/#3z21NBR..v5g0
 *
 * @author Mattijs Hoitink <mattijs@voidwalkers.nl>
 */

/* ********************** */
/*   HTML ELEMENTS        */

html {
    background-color: #F1EFE2;
}
body {
    font: 75%/1.2 'Lucida Grande',Arial,Helvetica,sans-serif;
}

em { font-style: italic; }

a {
    color: #3581C5;
    text-decoration: none;
}
a:hover {
    color: #033F75;
    text-decoration: underline;
}

h1 { font-size: 150%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
h4 { font-size: 110%; }
h5 {}
h6 {}

h1 ,h2, h3, h4, h5, h6, strong {
    font-weight:bold;
}

h2 {
    margin-bottom: 1em;
    border-bottom: 1px solid #E4E4E4;
}

h3 {
    margin-bottom: .3em;
    padding-bottom: .2em;
    border-bottom: 1px solid #E4E4E4;
}

p { margin-bottom: 1em; }

label {
    display: block;
    margin-bottom: .3em;
    font-weight: bold;
}
fieldset {
    display: block;
    padding: 10px;
    border: 1px groove #E4E4E4;
}

legend { color: #918A8A; }

input[type="text"], input[type="password"], input[type="email"], textarea {
    width: 300px;
    padding: 2px 4px;
    border: 1px solid #918A8A;
}
input[type="text"].hasDatepicker {
    width: auto;
}
#ui-datepicker-div {
    z-index: 1000;
}

/*   HTML ELEMENTS        */
/* ********************** */

.gray1 {
    color: gray;
}


/* ********************** */
/*   BUTTONS              */

.c3button, a.c3button {
    display: inline-block;
    padding: 5px 10px;
    background: #222 url('../images/button-overlay.png') repeat-x;
    -moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid rgb(0,0,0,0.25);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    background-color: #EBEBEB;
    color: #666666;
}
a.c3button:hover {
    text-decoration: none;
}

.c3button.large {
    padding: 0.5em 1em;
    font-size: 20px;
}

.c3button.orange {
    background-color: #FF5C00;
    color: #FFFFFF;
}
.c3button.green {
    background-color: #20C519;
    color: #FFFFFF;
}
.c3button.blue {
    background-color: #195CC5;
    color: #FFFFFF;
}

.c3button img {
    position: relative;
    top: 0.3em;
}

/*   BUTTONS              */
/* ********************** */


/* ********************** */
/*   GENERAL CLASSES      */

.fleft { float: left; }
.fright { float: right; }

.tleft { text-align: left; }
.tright { text-align: right; }
.tcenter { text-align: center; }

.clr, .clear {
    height: 1px;
    line-height: 1px;
    font-size: 0;
    clear: both;
}

#container {
    background-color: #FFFFFF;
}

/*   GENERAL CLASSES      */
/* ********************** */

/* ********************** */
/*   PANELS               */

#header-panel {
    position: relative;
    background-color: #0A62B2;
    color: #F8F8F8;
    height: 5.3em;
    margin: 0;
    padding: 15px 30px 0 30px;
    -moz-box-shadow: inset 0px -8px 6px -4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 -8px 6px -4px rgba(0,0,0,0.2);
}

#navigation-panel {
    position: absolute;
    bottom: -1px;
}

#main-panel {
    position: relative;
    min-height: 400px;
}

#messages-panel {
    /*width: 400px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -200px;*/
    min-height: 3em;
}

#content-panel {
    margin: 0px 345px 10px 30px;
}

#sidebar-panel {
    margin: 0px 30px 0 0;
    min-height: 300px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 9;
}

#footer-panel {
    height: 6em;
    padding-top: 20px;
    color: #999999;
    /*-moz-box-shadow: inset 0px 8px 6px -4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0px 8px 6px -4px rgba(0,0,0,0.2);*/
    background: #F1EFE2 url(../images/footerbg.png) repeat-x scroll 0 0
}

#copyright-panel {
    float: right;
    margin: 10px 20px;
}

/*   PANELS               */
/* ********************** */

/* ********************** */
/*   Login                */

#login-panel {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #E9E9E9;
    -moz-box-shadow: 4px 4px 6px -4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 4px 4px 6px -4px rgba(0,0,0,0.2);
}

#login-panel h1 {
    display: block;
    padding: 15px 10px;
    background-color: #0A62B2;
    color: #F8F8F8;
}

/*   Login                */
/* ********************** */

/* ********************** */
/*   NAVIGATION           */

#navigation-panel ul li {
    float: left;
    list-style-type: none;
    margin: 0 2px 0 0;
    padding: 0;
    white-space: nowrap;
}

#navigation-panel ul li a {
    color: #FFFFFF;
    display: block;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
}

#navigation-panel ul li.active a, #navigation-panel ul li.active a:hover {
    background-color: #FFFFFF;
    color: #555555;
}

#navigation-panel ul li a:hover {
    color: #FFFFFF;
    background-color: #3581C5;
}

#sub-navigation-panel {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 5px;
    height: 16px;
    border-bottom: 1px solid #E4E4E4;
}

#sub-navigation-panel ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-weight: bold;
}

#sub-navigation-panel ul li.active a {
    text-decoration: underline;
}

/*   NAVIGATION           */
/* ********************** */

/* ********************** */
/*   MESSAGES             */

#messages-panel #messages {
    padding: 1em 2.5em;
}

#messages-panel .message {
    position: relative;
}

#messages-panel .message .message-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.error, .notice, .success, .info { padding: .8em; border: 1px solid #ddd; }
.error { background: #E22C33; color: #440A09; border-color: #B20A0A; }
.notice { background: #E2CC2C; color: #443E09; border-color: #B28C0A; }
.success { background: #2CE23D; color: #264409; border-color: #22B20A; }
.info { background: #2C88E2; color: #091144; border-color: #0A1AB2; }
.error a { color: #8a1f11; }
.notice a { color: #514721; }
.success a { color: #264409; }
.info a { color: #193D88; }

/*   MESSAGES             */
/* ********************** */

/* ********************** */
/*   CONTENT              */

#content-panel h2 {
    margin-bottom: 1em;
    border-bottom: 1px solid #E4E4E4;
}

#content-panel h2 img {
    float: left;
    margin-top: 2px;
    margin-right: 10px;
}

.details-panel {
    margin-bottom: 2em;
    padding: 1.5em;
    background-color: #ECEEEC;
}

/*   CONTENT              */
/* ********************** */

/* ********************** */
/*   SIDEBAR              */

#sidebar-panel .block {
    display: block;
    margin-bottom: 20px;
}

#sidebar-panel .block h2 {}
#sidebar-panel .block p, #sidebar-panel .block .content {
    margin: 1em;
}

#sidebar-panel hr {
    margin: 1.5em .5em;
    background-color: #E4E4E4;
    border: 0;
    height: 1px;
}

/* actions */
#sidebar-panel ul.actions {

    margin: .5em;
}
#sidebar-panel ul.actions li {
    padding: 0.7em 1em;
    margin: 0;
    background-color: #EFEFEF;
    border-collapse: collapse;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #D4D4D4;
}

#sidebar-panel ul.actions li.no-bg {
    background-color: transparent;
    border: 0;
}
#sidebar-panel ul.actions li.last {
    border-bottom: 0;
}
#sidebar-panel ul.actions li a,
#sidebar-panel ul.actions li input[type="submit"]
{}

#sidebar-panel ul.actions li a.delete {
    color: #8D3134;
    text-decoration: underline;
}

#sidebar-panel ul.actions li img {
    float: left;
    margin-top: -1px;
    margin-right: 1em;
}

#sidebar-panel ul.actions li.right {
    text-align: right;
}
#sidebar-panel ul.actions li.right img {
    float: right;
    margin-right: 0;
    margin-left: 1em;
}

/*   SIDEBAR              */
/* ********************** */

/* ********************** */
/*   MEDIA                */

#media-panel {}

#media-tabs-panel {}
#media-tabs-panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#media-tabs-panel ul li {
    display: inline-block;
}

#media-panel .media-container {
    overflow: auto;
    margin: 0;
    padding-bottom: 10px;
    height: 390px;
    border: 1px solid #DEDEDE;
    background-color: #ECEEEC;
    /*-moz-box-shadow: inset 2px 4px 4px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 2px 4px 4px -1px rgba(0,0,0,0.2);*/
}

#media-panel .media-container div.thumbnail {
    position: relative;
    float:left;
    margin: 1em 0 0 1em;
    padding: 5px 10px;
    border: solid 1px black;
    background-color: white;
    width: 140px;
    height: 140px;
}
#media-panel .media-container div.thumbnail div.head {
    height: 20px;
    line-height: 20px;
}
#media-panel .media-container div.thumbnail div.head .filename {
    float: left;
}
#media-panel .media-container div.thumbnail div.head .remove {
    float: right;
}

#media-panel .media-container div.thumbnail div.body {
    height: 100px;
    line-height: 100px;
    background-color: #E9EEF0;
    border: solid 1px black;
    
}

#media-panel .media-container div.thumbnail div.body a,
#media-panel .media-container div.thumbnail div.body a:link,
#media-panel .media-container div.thumbnail div.body a:active,
#media-panel .media-container div.thumbnail div.body a:visited
{
    display: block;
    vertical-align: middle;
    text-align: center;
}

#media-panel .media-container div.thumbnail div.body img {
    margin: 0 -4px 0 4px;
}

#media-panel .media-container div.thumbnail img.source {
    max-width: 120px;
    max-height: 80px;
    vertical-align: middle;
}
#media-panel .media-container div.thumbnail img.icon {
    vertical-align: middle;
}

#media-panel .media-container div.thumbnail div.foot {
    height: 20px;
    line-height: 20px;
}
#media-panel .media-container div.thumbnail div.foot .size {
    float: right;
    display: block;
}

/*   MEDIA                */
/* ********************** */

/* ********************** */
/*   COMMENTS             */

.comments {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment {
    position: relative;
    border: solid 1px #E4E4E4;
    margin-bottom:10px;
}

.comment .avatar {
    float: left;
    padding: 10px;
}

.comment .content {
    float:left;
    padding: 10px;
}

.comment .content .author-info {
    margin-bottom: 5px;
}

.comment .content .actions {
    margin-top: 10px;
}

.comment .content .actions li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}