/**
 * Fizzy Forms stylesheet for theme 2.0
 *
 * @author Mattijs Hoitink <mattijs@voidwalkers.nl>
 */


/* ********************** */
/*   STANDARD FORM        */

/* main form panel */
.form-panel {
    padding: 10px 15px;
    background-color: #ECEEEC;
    border: 1px solid #DEDEDE;
}

.form-panel .form-title, #content-panel .form-panel h2.form-title {
    margin-bottom: 10px;
    font-size: 24px;
    padding-left: 15px;
    border: 0;
}

.form-panel label {
    margin-right: 1em;
    margin-bottom: .4em;
}

.form-panel input[type="text"],
.form-panel input[type="password"],
.form-panel input[type="email"],
.form-panel textarea,
.form-panel select,
.form-panel .wysiwyg
{
    margin-bottom: .7em;
}

.form-panel input[type="text"],
.form-panel input[type="password"],
.form-panel input[type="email"],
.form-panel textarea
{
    padding: .4em .4em;
}

.form-panel select {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

/* form control */
.form-control-panel {
    margin: 0 0 20px 0;
    padding: 5px 15px;
}

.form-control-panel input {
    margin-right: 2.8em;
    font-size: 20px;
    color: #FFFFFF;
}

/* form options */
.form-options-panel {
    margin: 20px 0;
    padding: 0px 15px;
}

.form-options-panel label {
    border-bottom: 1px solid #ccc;
}
.form-options-panel select {
    width: 100%;
}
.form-options-panel input[type="checkbox"] {
    position: relative;
    top: .2em;
}

/*   STANDARD FORM        */
/* ********************** */
