/**
 * Fizzy Forms stylesheet for theme 2.0
 *
 * @author Mattijs Hoitink <mattijs@voidwalkers.nl>
 */


/* ********************** */
/*   STANDARD FORM        */

/* main form panel */
.form-panel .form-title, #content-panel .form-panel h2.form-title {
    margin-bottom: 10px;
    font-size: 24px;
    padding-left: 15px;
    border: 0;
}

.form-panel .form-body {
    padding: 10px 15px;
    background-color: #ECEEEC;
    border: 1px solid #DEDEDE;
}

.form-panel label {
    margin-bottom: .4em;
}

.form-panel input[type="text"], 
.form-panel input[type="password"], 
.form-panel input[type="email"],
.form-panel textarea,
.form-panel .wysiwyg
{
    margin-bottom: .7em;
}

/* form control */
.form-control-panel {
    margin: 0 0 10px 0;
    padding: 10px;
}

.form-control-panel input {
    font-size: 20px;
    color: #FFFFFF;
}

/* form options */
.form-options-panel {
    margin: 20px 0;
    padding: 10px 15px;
}
.form-options-panel .form-options-toggle {
    margin: 0;
    padding: 0;
    border: 0;
}
.form-options-panel .form-options-toggle a, 
.form-options-panel .form-options-toggle a:hover
{
    display: block;
    width: 100%;
    text-decoration: none;
}
.form-options-panel .form-options-elements {
    margin: 10px;
}

/*   STANDARD FORM        */
/* ********************** */
