/**
 * Fizzy Tables stylesheet for theme 2.0
 *
 * @author Mattijs Hoitink <mattijs@voidwalkers.nl>
 */

/* ********************** */
/*   DATA TABLE           */
table.data {
    width: 100%;
}

table.data td {
    padding: 0.4em;
}

table.data thead td {
    font-weight: bold;
    background-color: #E4E4E4;
    border-bottom: 1px solid #ADADAD;
}

table.data tbody td {
    border-bottom: 1px solid #EFEFEF;
}
table.data tbody tr:hover {
    background-color: #CCCCCC;
}

/*   DATA TABLE           */
/* ********************** */
