<?xml version="1.0" encoding="UTF-8"?>
<fizzy version="0.4">
    <routes>
        <pages type="static">
            <rule>pages</rule>
            <controller>pages</controller>
            <action>list</action>
        </pages>
        <pages_all type="static">
            <rule>pages/all</rule>
            <controller>pages</controller>
            <action>list</action>
        </pages_all>
        <page_by_id type="regex">
            <rule>pages/(\d+)/(\+d)</rule>
            <controller>pages</controller>
            <action>show</action>
            <parameters>
                <param>id</param>
                <param>user</param>
            </parameters>
        </page_by_id>
        <page_by_slug type="simple">
            <rule>pages/:id/something/:mode</rule>
            <controller>pages</controller>
            <action>show</action>
        </page_by_slug>
        <admin_pages type="static">
            <rule>admin/pages</rule>
            <controller>AdminPages</controller>
            <action>default</action>
        </admin_pages>
    </routes>
</fizzy>