<?xml version="1.0" encoding="UTF-8"?>
<fizzy version="0.4">
    <routes>
        <!--
            Pages frontend
        -->
        <short_slug type="simple">
            <rule>/:slug</rule>
            <controller>page</controller>
            <action>show</action>
        </short_slug>
        <homepage type="static">
            <rule>/</rule>
            <controller>page</controller>
            <action>homepage</action>
        </homepage>
        <page_by_slug type="simple">
            <rule>page/:slug</rule>
            <controller>page</controller>
            <action>show</action>
        </page_by_slug>
        <pages type="static">
            <rule>pages</rule>
            <controller>page</controller>
            <action>list</action>
        </pages>
        <pages_all type="static">
            <rule>pages/all</rule>
            <controller>page</controller>
            <action>list</action>
        </pages_all>
        <page_by_id type="regex">
            <rule>pages/(\d+)/(\+d)</rule>
            <controller>page</controller>
            <action>show</action>
            <parameters>
                <param>id</param>
                <param>user</param>
            </parameters>
        </page_by_id>

        <!-- Admin sections -->
        <admin type="static">
            <rule>/admin</rule>
            <controller>Admin</controller>
            <action>default</action>
        </admin>
        <admin_logout type="static">
            <rule>/admin/logout</rule>
            <controller>Admin</controller>
            <action>logout</action>
        </admin_logout>
        <admin_configuration type="static">
            <rule>/admin/configuration</rule>
            <controller>Admin</controller>
            <action>configuration</action>
        </admin_configuration>

        <!-- Pages admin section -->
        <admin_pages type="static">
            <rule>/admin/pages</rule>
            <controller>AdminPages</controller>
            <action>list</action>
        </admin_pages>
        <add_page type="static">
            <rule>/admin/page/add</rule>
            <controller>AdminPages</controller>
            <action>add</action>
        </add_page>
        <admin_page_by_id type="simple">
            <rule>/admin/page/edit/:id</rule>
            <controller>AdminPages</controller>
            <action>edit</action>
        </admin_page_by_id>
        <admin_delete_page_by_id type="simple">
            <rule>/admin/page/delete/:id</rule>
            <controller>AdminPages</controller>
            <action>delete</action>
        </admin_delete_page_by_id>

        <!-- Menu admin sections  -->
        <admin_menu type="static">
            <rule>/admin/menu</rule>
            <controller>AdminMenu</controller>
            <action>show</action>
        </admin_menu>

        <!-- Users admin section -->
        <admin_users type="static">
            <rule>admin/users</rule>
            <controller>AdminUsers</controller>
            <action>list</action>
        </admin_users>
        <admin_add_user type="static">
            <rule>admin/user/add</rule>
            <controller>AdminUsers</controller>
            <action>add</action>
        </admin_add_user>
        <admin_edit_user type="simple">
            <rule>admin/user/edit/:id</rule>
            <controller>AdminUsers</controller>
            <action>edit</action>
        </admin_edit_user>
        <admin_delete_user type="simple">
            <rule>/admin/user/delete/:id</rule>
            <controller>AdminUsers</controller>
            <action>delete</action>
        </admin_delete_user>
        
    </routes>
</fizzy>